.about {
    background-color: $secondary;
    color: $primary;
    padding-left: 30px;
    padding-right: 30px;

    text-align: center;


    h1 {
        font-size: 2.5rem;
        font-family: $body;
    }

    h2 {
        margin: 40px 60px 0;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: left;
        line-height: 1.8rem;
    }

    .verse {
        font-weight: 600;
    }
}

.divider {
    padding: 0;
}

.imageDivider {
    background-image: url(../assets/valley_2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}